*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.input-wrapper label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input{
    width: 100%;
}
.avatar{
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}

.reacao{
    width: 4.0rem;
    height: 4.0rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: #065E7C;
    
}